@import "tailwindcss";

:root {
  scroll-behavior: smooth;
  background-color: black;
}

* {
  box-sizing: border-box;
  
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #020817;
}
